# Maven
target/

# Git
.git/
.gitignore

# IDEs
.idea/
.vscode/
.classpath
.project
.settings/

# Environment / secrets
.env
.env.*

# Docker
Dockerfile*
compose.y*ml
docker-compose*.yml

# OS
.DS_Store
Thumbs.db

# Logs
*.log