POSTGRES_DB=management-system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/management-system
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me

API_SECURITY_TOKEN_SECRET=change-me